---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---

//
// Import external dependencies
//

@import "./vendor/normalize.scss/normalize.scss";

//
// Import Just the Docs scss
//

// Support
@import "./support/support";

//
// Import custom color scheme scss
//

{% if site.color_scheme == "dark" %}
@import "./color_schemes/dark.scss";
{% endif %}

// Modules
@import "./base";
@import "./layout";
@import "./content";
@import "./navigation";
@import "./typography";
@import "./labels";
@import "./buttons";
@import "./search";
@import "./tables";
@import "./code";
@import "./utilities/utilities";

//
// Import custom overrides
//
@import "./custom/custom";
